.tictactoe-container {
  display: grid;
  grid-template-columns: repeat(3,6.8rem);
  
  width: fit-content;  
  padding: 0;  
}

.tictactoe-panel {
  border: 1px solid olive;
  background-color: olive;
  height: 6.3rem;
  width: 6.3rem;
  display: flex;
  flex-direction: column;
  margin: 0.3rem;
  padding: 0;
  box-sizing: border-box;  
  align-items: center;
  justify-content: center;
}