@import "./src/Styles/Themes/darkmode.css";
@import "./src/Styles/Components/tictactoe.css";
@import "./src/Styles/Components/slider.css";
@import "./src/Styles/Themes/nature.css";
@import "./src/Styles/Themes/disable.css";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  user-select: none;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}