body {
  background-color: #151b29!important; /*dark mode*/
}


.gameContainer {
  padding: 1.5rem;
  margin: 0.5rem;
  border-radius: 0.63rem;
}

.gamePanel {
  border-radius: 0.63rem;
  font-family: 'VT323', monospace;  
  font-size: 3rem;  
  border-width: 1px ;
  border-style: solid;
  transition: all 0.4s;
  background-color: #010d22;
  border-color: #ffa260;
  color: #ffa260;
}

.gameController {
  margin: 0.5rem;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

.controllerButton {
  border-radius: 3rem;
  background-color: #2cbc3d;
  color: #dadada;
  padding: 0.5rem;
  font-size: 1rem;
  width: 7rem;
  height: 2rem;
  margin-bottom: 0.5rem;
  border: none;
  filter: drop-shadow(2px 4px 6px black)
}

.controllerButton:hover {
  cursor: pointer;
  background-color: #27a736;
  color: #fff;
  transform: scale(1.1);
}

.controllerButton:active {
  cursor: pointer;
  background-color: #228e2e;
  color: #fff;
  transform: scale(1.0);
}

.gamePanel:hover {
  cursor: pointer;
  transform: scale(1.09);
  border-color: #f1ff5c;
  color: #fff;
  box-shadow: 0 0.5rem 0.5rem -0.4rem #f1ff5c;
}

.gamePanel:active {
  cursor: pointer;
  transform: scale(0.8);
}

.winningPanel {
  transform: scale(1.09);
  border-color: #f1ff5c;
  border-width: 1px ;
  border-style: solid;
  color: #fff;
  /* box-shadow: 0 0.5rem 0.5rem -0.4rem #f1ff5c; */
  box-shadow: 0 0 5px #f1ff5c !important;
                /* 0 0 25px #f1ff5c */
}