.gamePanel {
  border-radius: 0.63rem;
}

.gamePanel:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.gamePanel:active {
  cursor: pointer;
  transform: scale(1);
}

.winningPanel {
  transform: scale(1.05);
  background-color: red;
}